<div class="container">
  <h2>Edit Course</h2>

  <div class="form-row" *ngIf="showMsg">
    <div class="alert alert-{{type}} col-md-12" role="alert">
      {{msg}}
    </div>
  </div>

  <form #courseForm="ngForm" *ngIf="course">

    <div class="form-row">
      <div class="col-md-4">
        <label>ID:</label>
        <input type="text" id="courseID" name="courseID" placeholder="Enther the course ID" class="form-control"
          #courseID [(ngModel)]="course.CourseID" readonly />
      </div>
      <div class="col-md-4">
        <label>Title:</label>
        <input type="text" id="title" name="title" placeholder="Enther the title" class="form-control" #title
          [(ngModel)]="course.Title" />
      </div>
      <div class="col-md-4">
        <label>Credits:</label>
        <input type="text" id="credits" name="credits" placeholder="Enther the credits" class="form-control" #credits
          [(ngModel)]="course.Credits" />
      </div>
    </div>

    <br>
    <div class="btn-group" role="group">
      <button class="btn btn-outline-primary btn-sm" (click)="edit()">Edit</button>
      <a class="btn btn-outline-primary btn-sm" [routerLink]="[ '/course-list' ]">Back</a>
    </div>

  </form>

</div>
